---
layout: bootcamp
root: .
venue: University of Kansas
address: Spooner Hall (The Commons)
humandate: August 22-23, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-08-22
enddate: 2013-08-23
latlng: 41.7901128,-87.6007318
registration: closed
instructor: ["Karen Cranston", "Mark Holder", "Emily Jane McTavish", "Darren Boss"]
contact: ejm@ku.edu
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>
<font size="4" color="blue"><p><a href="https://docs.google.com/document/d/1ivjVxsSrkI8L5hEk6mgHxP0LEWSw9KIBZc4U-6inWeo/edit?usp=sharing"> Instructions for installation </a><p></font>
<p>Please complete installations before first day of workshop. If things aren't working, please arrive by 8:30 on Thursday.<p>
<br>
<br>
<font size="4" color="blue"><p><a href="https://etherpad.mozilla.org/2013-08-22-ku"> We will be taking shared notes here</a></font>
<br>
Schedule:<br>
Thursday:<br>
<br>
8:30 AM Installation problem early arrive<br>
9:00 Start (Coffee is available at this time)<br>
10:30 - 10:45 Break 1<br>
11:45 - 1:00 Lunch (at Union)<br>
2:30 - 2:45 Break 2<br>
4:30 End<br>
<br>
Friday:<br>
<br>
9:00 Start (Coffee is available at this time)<br>
10:30 - 10:45 Break 1<br>
11:45 - 1:00 Lunch (at Union)<br>
2:30 - 2:45 Break 2<br>
4:30 End<br>


<!--
<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/shell.html">The Unix Shell</a></h3>
    <ul>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
  </div>
  <div class="span6">
    <h3><a href="lessons/db.html">Databases</a></h3>
    <ul>
      <li>{% include guide-db/select/title.md %}</li>
      <li>{% include guide-db/distinct/title.md %}</li>
      <li>{% include guide-db/filter/title.md %}</li>
      <li>{% include guide-db/calc/title.md %}</li>
      <li>{% include guide-db/sort/title.md %}</li>
      <li>{% include guide-db/null/title.md %}</li>
      <li>{% include guide-db/aggregate/title.md %}</li>
      <li>{% include guide-db/grouping/title.md %}</li>
      <li>{% include guide-db/join/title.md %}</li>
      <li>{% include guide-db/create/title.md %}</li>
      <li>{% include guide-db/transactions/title.md %}</li>
      <li>{% include guide-db/programming/title.md %}</li>
    </ul>
  </div>
</div>
-->
