<div id="testing-ipython" class="setup setup-anaconda">
  <h3>Testing IPython notebook installation</h3>
  <ul>
In your terminal window type
<i>ipython notebook</i><br>
It may take several seconds, but an ipython dashboard window should open in your
web browser.<br>
Click "new notebook"<br>
In the box next to In [ ]: enter 2+2<br>
type Shift+Enter to execute the cell<br>
If the number 4 appears below the cell, you're all set!  Feel free to try out some commands or simple addition. <br> 
If not: see troubleshooting below <br>        
You can close the browser window. If your ipython command in the previous step 
worked then the notebook should still be running. You won't see a bash prompt (the $ symbol) while IPython is still running.<br> Type Control-C (while holding down the "Control" or "Ctrl" key on your keyboard and type the C key). You'll be prompted to confirm: "Shutdown Notebook Server (y/[n])?" Simply type:
y
and return to kill shutdown the server.<br>
<p>If a result does not appear:<br>
   Make sure you are hitting Shift+Enter (or click the little play button at the top of the window)<br>
   If Internet Explorer is your default browser,  Copy the URL from your IPython dashboard, and open it in another browser (i.e. Firefox or Chrome)<br>
   If you are using Firefox or Chrome on Windows and results still do not appear, this may be due to Sophos antivirus.<br>
Follow these steps to fix: (requires administrator privledges)
<ol>
<li>open your Sophos Endpoint Security and Control Panel from your tray or start menu</li>
<li>Select "configure" > "Anti-virus" > "Authorization" from the menu at the top</li>
<li>Select the websites tab</li>
<li>click the "Add" button and add 127.0.0.1 and localhost to the "Authorized websites" list</li>
<li>restart computer</li>
</ol>
</p>
</li>
 </ul>
</div>
